alembic==1.18.5
black==26.5.1
blinker==1.9.0
certifi==2026.6.17
charset-normalizer==3.4.9
click==8.4.2
dnspython==2.8.0
email-validator==2.3.0
flask==3.1.3
flask-login==0.6.3
flask-migrate==4.1.0
flask-sqlalchemy==3.1.1
flask-wtf==1.3.0
greenlet==3.5.3
idna==3.18
iniconfig==2.3.0
isort==8.0.1
itsdangerous==2.2.0
jinja2==3.1.6
mako==1.3.12
markupsafe==3.0.3
mypy-extensions==1.1.0
packaging==26.2
pathspec==1.1.1
platformdirs==4.11.0
pluggy==1.6.0
pygments==2.20.0
pytest==9.1.1
pytest-flask==1.3.0
python-dotenv==1.2.2
pytokens==0.4.1
requests==2.34.2
sqlalchemy==2.0.51
typing-extensions==4.16.0
urllib3==2.7.0
werkzeug==3.1.8
wtforms==3.2.2
